body{
    text-align: left;
    font-family: "Arial";
    color: rgb(112, 112, 112);
}
.container{
    border: 1px solid;
    text-align: left;
    width: 70%;
    padding: 1em #DDD;
    margin: 0 auto;
}
.container h1{
    font-size: 20px;
    background-color: bisque;
}