body{
    text-align: left;
    font-family: "Arial";
    color: rgb(0, 145, 101);
}
.container{
    border: 1px solid #DDD;
    text-align: left;
    width: 70%;
    padding: 1em;
    margin: 0 auto;
}
.container h1{
    font-size: 20px;
    text-align: center;
}