body{
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    color: blue;
}
.container{
    border: 1px solid #DDD;
    text-align: left;
    width: 70%;
    padding: 1em;
    background-color: burlywood;
    margin: 0 auto;
}
.container h1{
    font-size: 20px;
    text-align: center;
}
#cabecera{
   background-color: #33A;
   box-shadow: 0px 2px 20px 0px rgb(0, 0, 0.5);
   color: white;
   font-weight: bold;
   margin: 0;
   padding: 0.5em;
}
<<<<<<< HEAD
=======
#cabecera img{
    left: 0;
}
>>>>>>> footer
.colores-bolivia{
    text-align: center;
    margin: 5%;
    color: white;
}
.colores-bolivia .red .yellow .green{
    width: 50%;
    height: 50px;
}
.colores-bolivia .red{
    background-color: red;
}
.colores-bolivia .yellow{
    background-color: yellow;
    color: #000;
}
.colores-bolivia .green{
    background-color: green;
<<<<<<< HEAD
=======
}
footer{
    color: white;
    padding: 1%;
    background-color: tomato;
>>>>>>> footer
}